<app-teams-subnav></app-teams-subnav>

<div class="content" style="margin-top: 90px;">
  <div class="row" style="width: 100%; margin: 0;">
    <div *ngIf="sidebarState === 'close'" class="ai-character is-clickable" style="right: 96%; top: 18%"
      (click)="toggleSidebar('open')">
      <div class="card">
        <div class="card-body">
          <span class="fa fa-solar-panel"></span>
        </div>
      </div>
    </div>

    <div *ngIf="sidebarState === 'open'" class="col-xl-2 col-lg-3 col-md-4 content-list left-filter-tab"
      style="border-right: 4px solid #ECF2FB; width: 80%;">
      <app-salesperson-siderbar #salesPersonSidebar (getDealsFilter)="getDealsFilter(salesPersonSidebar.dealsForm)"
        (getDealWonFilter)="getDealLostFilter(salesPersonSidebar.dealWonForm)"
        (getDealLostFilter)="getDealWonFilter(salesPersonSidebar.dealLostForm)" (toggleFilter)="toggleSidebar($event)"
        (getCustomFilter)="getFilteredSalesPersons($event)" (getClearFilter)="clearFilter()">
      </app-salesperson-siderbar>
    </div>

    <div class="{{mainStyle}} content-list">
      <ng-template [ngIf]="!loader.showSpinner">
        <div class="list">
          <div class="row content-list-header">
            <div class="col-md-6 text-left filter-actions-top">

            </div>
            <div class="col-md-6 content-list-buttons">
              <button class="fin-sec-btn" (click)="exportTable()">EXPORT</button>
            </div>
          </div>

          <app-datatable [dataChanged]="dataTable.dataChangedObs" [options]="dataTable.options"
            [heads]="dataTable.heads" (feedback)="dataFeedBackObsListener($event)" [bodyrows]="salesPersonsList">
          </app-datatable>

        </div>
      </ng-template>

      <!-- Loader -->
      <loading-spinner [spinnerType]="loader.spinnerType" [dataless]="loader.dataless" (actionState)="onActionState()"
        *ngIf="loader.showSpinner">
      </loading-spinner>
      <!-- Loader Ends -->


      <!-- Assign Commission Modal -->
      <div class="modal fade" id="commissionModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle6"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalCenterTitle6">Assign Commission</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="commissionForm">
                <div class="form-group">
                  <label class="col-form-label" style="color: #7E7F9A">Select Commission</label>
                  <br>
                  <ngx-select-dropdown class="styleFool" [config]="commissionsConfig"
                    (change)="getAcceleratorThreshold()" [options]="commissions | async" [multiple]="false"
                    formControlName="commission">
                  </ngx-select-dropdown>
                  <p style="color:red;">Required*</p>
                </div>
                <div class="form-group">
                  <label class="col-form-label" style="color: #7E7F9A">Select Target</label>
                  <br>
                  <ngx-select-dropdown class="styleFool" (change)="getPeriods2()" [config]="targetsConfig"
                    [disabled]="!commissionForm.value.commission || !commissionForm.value.commission.id"
                    [options]="targetsV2 | async" [multiple]="false" formControlName="target">
                  </ngx-select-dropdown>
                  <p style="color:red;">Required*</p>
                </div>
                <div class="form-group">
                  <label class="col-form-label" style="color: #7E7F9A">Select Period</label>
                  <br>
                  <ngx-select-dropdown class="styleFool" (change)="getCommissionPeriodValue()" [config]="periodsConfig"
                    [options]="assignPeriods | async" [multiple]="false"
                    [disabled]="!commissionForm.value.target || !commissionForm.value.target.id"
                    formControlName="period">
                  </ngx-select-dropdown>
                  <p style="color:red;">Required*</p>
                </div>
                <div class="form-group">
                  <label class="col-form-label" style="color: #7E7F9A">Threshold Rate</label>
                  <br>
                  <input type="number" name="cname" formControlName="threshold" class="gen-input browser-default"
                    style="width: 100%">
                  <small><em>Kindly note that this input only accepts a valid number.</em></small>
                  <br>
                  <small *ngIf="commission_period_value">Max rate is 100%
                    ({{commission_period_value || 0 | number}})</small>
                  <p style="color:red;">Required*</p>
                </div>
                <div class="form-group" *ngIf="commission_accelerator && commission_accelerator['accelerator']">
                  <label class="col-form-label" style="color: #7E7F9A">Accelerator Threshold</label>
                  <br>
                  <input type="text" name="cname" formControlName="accelerator_threshold"
                    class="gen-input browser-default" style="width: 100%">
                  <small><em>Kindly note that this input only accepts a valid number.</em></small>
                  <br>
                  <small>Accelerator threshold should be greater than Commission threshold</small>
                  <p style="color:red;">Required*</p>
                </div>
                <div class="form-group">
                  <button type="button" class="fin-pry-btn" (click)="assignCommission()"
                    [disabled]="commissionForm.invalid">Assign Commission</button>
                </div>
              </form>
              <hr>
              <table *ngIf="!loadingView; else activateSpinner3" id="dtBasicExample"
                class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="th-sm">Commission</th>
                    <th class="th-sm">Target</th>
                    <th class="th-sm">Period</th>
                    <th class="th-sm">Type</th>
                    <th class="th-sm">Threshold</th>
                    <th class="th-sm">Accelerator</th>
                    <th class="th-sm">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row" *ngFor="let commission of assignedCommissions; let i = index">
                    <td>{{commission['commission']}}</td>
                    <td>{{commission['target']}}</td>
                    <td>{{commission['period']}}</td>
                    <td>{{commission['type']}}</td>
                    <td>{{commission['threshold']}}</td>
                    <td>{{commission['accelerator_threshold']}}</td>
                    <td>
                      <button type="button" (click)="reverseAssignCommission(commission['id'])"
                        class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ng-template #activateSpinner3>
                <loading-spinner [spinnerType]="'notch-loader'"></loading-spinner>
              </ng-template>
            </div>
            <div class="modal-footer">
              <button type="button" class="fin-sec-btn" data-dismiss="modal">CLOSE
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Assign Commission Modal End-->

      <!-- Assign Target Modal -->
      <div class="modal fade" id="targetModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle6"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalCenterTitle6">Assign Target</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="targetForm">
                <div class="form-group">
                  <label class="col-form-label" style="color: #7E7F9A">Select Target</label>
                  <br />
                  <ngx-select-dropdown class="styleFool" (change)="getPeriods()" [config]="targetsConfig"
                    [options]="targets | async" [multiple]="false" formControlName="target">
                  </ngx-select-dropdown>
                  <p style="color:red;">Required*</p>
                </div>
                <div class="form-group">
                  <label class="col-form-label" style="color: #7E7F9A">Select Period</label>
                  <br />
                  <ngx-select-dropdown class="styleFool" [config]="periodsConfig" [options]="periods | async"
                    [multiple]="false" [disabled]="!targetForm.value.target || !targetForm.value.target.id"
                    formControlName="period">
                  </ngx-select-dropdown>
                  <p style="color:red;">Required*</p>
                </div>
                <div class="form-group">
                  <label class="col-form-label" style="color: #7E7F9A">Target Value</label>
                  <br />
                  <input type="text" name="cname" formControlName="value" class="gen-input browser-default"
                    style="width: 100%" />
                  <small><em>Kindly note that this input only accepts a valid number.</em></small>
                  <br>
                  <small *ngIf="target_limit">Total unallocated target is 
                    {{selectedTarget['currency']? (target_limit || 0 | currency : selectedTarget['currency']:'symbol-narrow') : target_limit || 0 | number}}
                  </small>
                  <p style="color:red;">Required*</p>
                </div>
                <div class="form-group" 
                  *ngIf="_isCurrencyEnabled || selectedTarget.type === 'product_quantity'"
                >
                  <label class="col-form-label" style="color: #7E7F9A">Target Counts</label>
                  <br />
                  <ngx-select-dropdown class="styleFool" [config]="targetStageConfig"
                    [options]="targetStageList$ | async" [multiple]="false" formControlName="stage">
                  </ngx-select-dropdown>
                  <p style="color:red;">Required*</p>
                </div>
                <div class="form-group">
                  <button type="button" class="fin-pry-btn" (click)="assignTarget()" [disabled]="targetForm.invalid">
                    Assign Target
                  </button>
                </div>
              </form>
              <hr />
              <!-- hidden-->
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink3">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#targetModal">Assign
                  Target</a>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#commissionModal">Assign
                  commission</a>

              </div>
              <ng-template #activateSpinner>
                <loading-spinner [spinnerType]="'notch-loader'"></loading-spinner>
              </ng-template>
            </div>
            <div class="modal-footer">
              <button type="button" class="fin-sec-btn" data-dismiss="modal">
                CLOSE
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Assign Target Modal End-->

    </div>

  </div>
</div>