<!-- <div class="col-12 spinner-container" *ngIf="signUpservice.loading$ | async">
  <mat-progress-spinner class="example-margin ml-auto mr-5" mode="indeterminate" diameter="20">
  </mat-progress-spinner>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 left-div">
      <div class=" container-fluid login-header p-0">
        <a href="" id="logo-container"><img src="assets/img/notch-logo1.svg" width="120" alt=""></a>
        <div class="login-alternate d-flex float-right hidden-md hidden-sm hidden-xs">
          <p>Not a member yet</p>
          <a routerLink="register" style="font-weight: bold; margin-left: 10px;">Sign Up</a>
        </div>
      </div>


      <!--</div>-->

      <h2 class="" style="font-size: 20px">Welcome Back!</h2>
      <div class="pt-4 mb-4">

      </div>

      <form action="" class="form" [formGroup]="loginForm">
        <label>Email</label>
        <br>
        <input [ngClass]="emailControl.touched ? (emailControl.valid === true ? 'has-success' : 'has-danger') : ''"
          type="email" id="email" formControlName="username" class="gen-input browser-default" style="width: 400px" />
        <br>
        <span *ngIf="(emailControl.touched && !emailControl.valid) && emailControl.errors.required"
          class="text-danger font-weight-light"><small>
            email is required</small>
        </span>
        <span *ngIf="(emailControl.touched && !emailControl.valid) && emailControl.errors.pattern"
          class="text-danger font-weight-light"><small>
            Please enter a valid email address</small>
        </span>

        <div class="space-30"></div>
        <label for="password">Password</label>
        <br>
        <input
          [ngClass]="passwordControl.touched ? (passwordControl.valid === true ? 'has-success' : 'has-danger') : ''"
          type="password" id="password" formControlName="password" class="gen-input browser-default"
          style="width: 400px" />
        <br>
        <span *ngIf="passwordControl.touched && !passwordControl.valid" class="text-danger font-weight-light"><small>
            password is required</small>
        </span>
        <br>
        <br>
        <!-- Default checked -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="defaultChecked2" formControlName="rememberMe">
          <label class="custom-control-label" for="defaultChecked2">Remember me</label>
        </div>
        <br>

        <div class="d-flex fgt-pswrd">

          <!-- <a style="text-decoration: none" class="pl-0" disabled="!loginForm.valid" (click)="login()">
            <span class="save-btn"> LOGIN</span>
          </a> -->

          <button class="btn m-0 save-btn" [disabled]="!loginForm.valid || (signUpservice.loading$ | async)" (click)="login()">
            LOGIN
          </button>

          <!-- Loader -->
          <div class="all-loader animated ml-3" id="loader-4" *ngIf="signUpservice.loading$ | async"
            [ngClass]="{'fadeIn faster': !signUpservice.loading$}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>

          <a *ngIf="!signUpservice.loading$ | async" href="reset-password.html" class="">Forgot Password?</a>
        </div>

      </form>
      <div class="row hidden-lg hidden-xg">
        <div class="col-md-12 text-center">
          <div class="login-alternate text-center d-flex m-auto" style="padding-top: 25px;">
            <p>Not a member yet</p>
            <a routerLink="register" style="font-weight: bold; margin-left: 10px;">Sign up</a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-4 login-bg signup-bg">
      <!--<img src="img/login-bg.jpg" alt="">-->
      <h3>Login to Charge up
        <br>
        your sales for more Profit
      </h3>
    </div>
  </div>
</div>