/* AVATAR */

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 30px auto;
}

.avatar-upload .avatar-edit-contact {
  position: absolute;
  right: 35px;
  z-index: 1;
  top: 10px;
}

.avatar-edit-contact input {
  display: none;
}

.avatar-edit-contact label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}

.avatar-edit-contact label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-edit-contact label i,
.avatar-edit-contact label svg {
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-preview {
  width: 152px;
  height: 152px;
  position: relative;
  border-radius: 100%;
  /* border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgb(156, 163, 169); */
  border: 6px solid #70acd8;
  box-shadow: 0px 1px 4px 0px rgb(156, 163, 169);
  margin: auto;
}

.avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Wizard */
.wizard {
  overflow: hidden;
}

.wizard .wizard-body {
  position: relative;
  transition: all 0.3s cubic-bezier(0.68, -0.30, 0.37, 0.6);
}

.wizard-body .step {
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  top: 0;
  /* right: -100%;
  opacity: 0; */
}

.wizard-body .step .initial {
  position: relative;
}

.wizard-body .step .initial .off {
  opacity: 0 !important;
  right: 100% !important;
}

.wizard-body .step .initial .active {
  right: 0;
  margin-left: 0;
  margin-top: 0;
  opacity: 1;
  transition: all 0.4s linear;
  transition-delay: 0.1s;
}

.wizard .wizard-footer {
  margin-top: 35px;
}


/* FLOATING BUTTON */
.label-container {
  position: fixed;
  bottom: 48px;
  right: 105px;
  display: table;
  visibility: hidden;
}

.label-text {
  color: #FFF;
  background: rgba(51, 51, 51, 0.5);
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  border-radius: 3px;
}

.label-arrow {
  display: table-cell;
  vertical-align: middle;
  color: #333;
  opacity: 0.5;
}

.float {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 40%;
  background-color: #158DED;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  font-size: 24px;
  margin-top: 18px;
}

a.float+div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover+div.label-container {
  visibility: visible;
  opacity: 1;
}

/*  */
.wizard-title-box {
  width: 90%;
  display: inline-block;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.wizard-title-box>h1 {
  width: 75%;
  margin: auto;
  margin-left: 20px;
  float: left;
}

.wizard-title-box>button {
  margin: auto;

  float: right;

}
