<div class="row" style="margin-left: auto; margin-right: auto;">
  <nav class="sub-nav hide-on-med-and-down" *ngIf="!loader.main.showSpinner">
    <div class="contact-actions d-flex">
      <div class="user-dp">
        <a data-toggle="modal" data-target="#ModalCenter19">
          <img [src]="dataSource?.profileImage || 'https://test.notchcx.com/assets/img/default.png'"
            class="avatar img-circle img-thumbnail" style="width:50px; height: 50px;" alt="avatar">
        </a>
      </div>
      <div class="contact-home-link">
        <h6 style="margin-top: 25px; font-size: 18px;"> {{dataSource?.firstName | uppercase}}
          {{dataSource?.surName | uppercase}}</h6>
      </div>
      <div class="actions-btn d-flex">
        <button class="fin-sec-btn" id="dropdownMenuLink6" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          ACTIONS <span><img src="../../../../assets/img/caret_down_blue.svg" width="13" alt=""></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink6">
          <a class="dropdown-item" href="#">Enrich</a>
          <a class="dropdown-item" (click)="handleCreateInvoice()">Create Invoice</a>
          <a class="dropdown-item" (click)="handleCreateQuotation()">Create Quotation</a>
          <a class="dropdown-item" (click)="handleCreateSalesOrder()">Create Sales Order</a>
          <a class="dropdown-item" (click)="handleCreateDeals()">Create Deals</a>
          <a class="dropdown-item"
            href="https://www.google.com/search?&q={{dataSource?.firstName}} {{dataSource?.surName}}"
            target="_blank">Search
            in Google</a>
          <a class="dropdown-item" href="#">Merge</a>
          <!-- <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModalCenter2">Assign Target</a> -->
          <!-- <a class="dropdown-item" (click)="handleContactDeletion(contactId)">Delete</a> -->
        </div>
        <div class="btn-group" (click)="onMouseMenu()" [ngClass]="{'opened': isOpened}">
          <button type="button" class="btn fin-pry-btn ml-4 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ navMenu.default | titlecase}}
          </button>
          <div class="dropdown-menu">
            <a *ngFor="let menu of navMenu.list">
              <span class="dropdown-item" *ngIf="!menu.selected"
                (click)="onSelectMenu(menu.name)">{{menu.name | titlecase}}</span>
            </a>
          </div>
        </div>
      </div>
      <!-- <a href="" class="sub-nav-link right">Product Suggestions</a> -->

    </div>
  </nav>

  <!-- Change Profile Pix Modal -->
  <div class="modal fade" id="ModalCenter19" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Change Profile Picture</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="text-left col-sm-12 col-md-6">
            <img [src]="imgDetails.src || 'https://test.notchcx.com/assets/img/default.png'"
              class="avatar img-circle img-thumbnail" alt="avatar">
            <h6>Upload a photo...</h6>
            <input type="file" class="text-center center-block file-upload" name="profile"
              (change)="onFileSelect($event)" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="fin-sec-btn" data-dismiss="modal">Close
          </button>
          <button type="button" (click)="handleProfileImageUpload()" class="fin-pry-btn">Save Picture</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Change Profile Pix Modal End-->
</div>

<!-- Content -->
<ng-template [ngIf]="!loader.main.showSpinner">
  <div class="content" style="margin-top: 90px;">
    <div class="row" style="width: 100%; margin: 0;">
      <div class="col-lg-8 col-xl-9 col-md-12 content-body">

        <div class="contact-header-nav my-3">
          <a href="/clients/contacts-list">
            &#60; Contacts </a>
        </div>

        <!-- DashBoard View -->
        <ng-template [ngIf]="(display.dashboard===true) && (loader.content.showSpinner===false)">
          <app-contact-dashboard [contactClientDetails]="dataSource">
          </app-contact-dashboard>
        </ng-template>
        <!-- DashBoard View Ends -->

        <!-- Detailed View -->
        <ng-template [ngIf]="(display.details===true) && (loader.content.showSpinner===false)">
          <app-contacts-inner-details [dataSource]="dataSource" [id]="this.contactId"></app-contacts-inner-details>
        </ng-template>
        <!-- Detailed View Ends -->

        <!-- Score View -->
        <div data-toggle="modal" data-target=".bd-score-modal-lg" id="open-score-modal"></div>
        <div class="modal fade bd-score-modal-lg" tabindex="-1" role="document" aria-labelledby="myLargeConversionModal"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered lead-score-modal">
            <div class="modal-content p-3">
              <app-score></app-score>
            </div>
          </div>
        </div>
        <!-- Score View Ends-->

        <!-- Content Loader -->
        <loading-spinner [spinnerType]="loader.content.spinnerType" [spinnerStyle]="loader.content.spinnerStyle"
          (reloadSpinner)="onActionState()" *ngIf="loader.content.showSpinner"></loading-spinner>
        <!-- Content Loader End -->

      </div>
    </div>

    <div class="col-lg-4 col-xl-3 col-md-12 feeds-card">
      <app-feeds></app-feeds>
    </div>
  </div>
</ng-template>

<!-- Main Loader -->
<loading-spinner [spinnerType]="loader.main.spinnerType" [spinnerStyle]="loader.main.spinnerStyle"
  [dataless]="loader.dataless" (actionState)="mainActionState()" *ngIf="loader.main.showSpinner"></loading-spinner>
<!-- Loader End -->
