<div class="container-fluid">
  <div class="row">
      <div class="col-sm-8 left-div">
          <div class="login-header">
              <a href="" id="logo-container"><img src="img/notch-logo.svg" width="60" alt=""></a>
          </div>


          <h2 class="text-center" style="font-size: 20px">Please Enter the Validation code that you received in your mail</h2>
          <div class="pt-4">

          </div>

          <div class="otpBox text-center">
              <h4 style="text-align: center;font-size: 18px">Enter One Time Password</h4>
              <div *ngIf="loginStatus.error.status">
                    <h6 class="text-danger">{{loginStatus.error.msg}}</h6>
                </div>
              <div class="mt-5">
                  <input type="number"  name="value" placeholder="OTP" class="input-form browser-default text-center"  
                        ngModel #otpVal="ngModel" required>
              </div>
              <div class="text-center mt-3">
                  <button [disabled]="(otpVal.invalid || loading)" class="submit-button" (click)="verifyOtp(otpVal)" id="login-submit" type="button">
                    VERIFY CODE <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i></span>
                  </button>
              </div>
          </div>
      </div>
      <div class="col-sm-4 login-bg">

      </div>
  </div>
</div>