<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 left-div">
      <div class="login-header mb-lg-5">
        <a href="" id="logo-container"><img src="/assets/img/finultimate-logo.svg" width="240" alt=""></a>
        <div class="login-alternate d-flex float-right hidden-md hidden-sm hidden-xs">
          <p>Already a member?</p>&nbsp;
          <a routerLink="/login" style="font-weight: bold; margin-left: 10px;">Login</a>
        </div>
      </div>


      <div class="pt-5">
        <!-- Default View -->
        <div id="forgotPassword" *ngIf="setView==='default'; else successTemplate">
          <h3 style="font-size: 28px;">Forgot Password ?</h3>
          <p class="text-muted">Provide your email address to reset password</p>
          <div class="mb-3" *ngIf="errorMsg.error.status">
            <p class="text-danger">{{errorMsg.error.msg}}</p>
          </div>
          <div class="pt-4">
            <form [formGroup]="forgotPasswordForm" class="form">
              <div class="row align-items-center h-100">
                <div class="col-md-8">
                  <label for="email">Email Address</label>
                  <br>
                  <input type="email" name="email" placeholder="Email Address" formControlName="email"
                    class="gen-input browser-default" required>
                  <div class="mt-2" *ngIf="(f.email.dirty || f.email.touched) && f.email.invalid">
                    <span class="text-danger" style="font-size: 13px;" *ngIf="f.email.errors?.required">
                      Email is required.
                    </span>
                    <span class="text-danger" style="font-size: 13px;" *ngIf="f.email.errors?.pattern">
                      Please enter a valid email (e.g. johndoe@domain.com)
                    </span>
                  </div>
                </div>
              </div>
              <div class="space-30 hidden-xs"></div>
              <div class="space-10 hidden-md hidden-lg hidden-xg"></div>
              <div class="d-flex fgt-pswrd">
                <button type="button" class="fin-pry-btn" (click)="onSubmit()"
                  [disabled]="(forgotPasswordForm.invalid || isLoading)" [ladda]="isLoading"
                  data-style="slide-right">Send Password Reset Mail
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- Success View -->
        <ng-template #successTemplate>
          <div class="pt-4">
            <div class="row align-items-center h-100">
              <div class="col-md-8">
                <h5 class="mb-lg-3">Password Reset Email Sent</h5>
                <div class="pt-2 pb-3">
                  <p class="text-muted" style="font-size: 16px; line-height: 26px;">
                    An email has been sent to your email address, <strong>{{f.email.value}}</strong>.
                    <br>
                    Follow the instructions in the email to reset your password.
                  </p>
                  <!-- <p class="text-muted" style="font-size: 16px; line-height: 26px;">The password reset instructions has
                    been sent to your email address.
                    <br>
                    Please follow the instructions to reset your password.
                  </p> -->
                </div>
                <a routerLink="/login" class="fin-pry-btn"
                  style="padding-left: 3.5rem!important;padding-right: 3.5rem!important">Okay</a>
              </div>
            </div>
          </div>
        </ng-template>
      </div>

      <div class="row hidden-lg hidden-xg">
        <div class="col-md-12 text-center">
          <div class="login-alternate text-center d-flex m-auto" style="padding-top: 25px;">
            <p>Already have an account?</p>
            <a routerLink="/login" style="font-weight: bold; margin-left: 10px;">Login</a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-4 login-bg signup-bg">
      <h3>Forgot Password? </h3>
    </div>
  </div>
</div>
