<div class="content settings-content">
  <div class="row" style="width: 100%; margin: 0;">
    <div class="col-md-12 settings-wrapper">
      <app-settings-header></app-settings-header>
      <div class="row">
        <div class="left-settings col-sm-4 col-md-4 col-lg-3 col-xl-2">
          <app-settings-sidebar></app-settings-sidebar>
        </div>

        <!-- Loader -->
        <loading-spinner [spinnerStyle]="spinnerStyle" [spinnerType]="spinnerType" (reloadSpinner)="retry($event)"
          *ngIf="showSpinner">
        </loading-spinner>

        <div class="right-settings col-sm-8 col-md-8 col-lg-9 col-xl-10 tab-content" *ngIf="!showSpinner">
          <div class="settings-header">

            <h1>Email Templates & Sequencing</h1>
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item"><a class="nav-link active" style="background: transparent;" id="email-temp-tab"
                  data-toggle="tab" href="#email-temp" role="tab" aria-controls="email" aria-selected="true">Email
                  Templates</a>
              </li>
              <li class="nav-item"><a class="nav-link" style="background: transparent;" id="email-seq-tab"
                  data-toggle="tab" href="#email-seq" role="tab" aria-controls="call" aria-selected="false">Email
                  Sequencing</a>
              </li>
            </ul>

          </div>

          <!--Email template-->
          <div class="settings-label tab-pane fade show active" id="email-temp" role="tabpanel"
            aria-labelledby="email-temp-tab">
            <div class="row">
              <div class="col-lg-12 col-sm-12 d-flex email-temp-nav">
                <span class="text-center" data-toggle="modal" data-target="#ModalCenter3">
                  <i class="fas fa-plus"></i> <br>
                  Add EMAIL Template
                </span>
              </div>

              <!-- Add Email Template Modal -->
              <div class="modal fade" id="ModalCenter3" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle3"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="ModalCenterTitle3">Add Email Message
                        Template</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <form [formGroup]="emailForm">
                      <div class="modal-body">

                        <div class="form-group">
                          <label for="target-value" class="col-form-label">
                            Enter Email Message Template Name
                          </label>
                          <input type="text" formControlName="emailName" class="form-control">
                        </div>

                        <div class="form-group">
                          <label for="Description">EMAIL FORMAT</label>
                          <br>
                          <textarea name="Description" maxlength="5000" formControlName="emailDiscription"
                            id="Description" cols="30" rows="10" class="gen-input2 h-25 pt-3"
                            placeholder="Enter Email Format"></textarea>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="fin-sec-btn" data-dismiss="modal">Close
                        </button>
                        <button type="button" (click)="submitEmail()" [disabled]="(emailForm.invalid || isLoading)"
                          class="fin-pry-btn" [ladda]="isLoading" data-style="slide-right">Add
                        </button>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
              <!-- Add Email Template Modal End-->
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-lg-6 col-xl-5 email-temp-left" style="padding-top: 30px;"
                id="selectable3">

                <div style="padding-top: 5px; ">
                  <div class="list-card" style="box-shadow: none; padding: 0;">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let allEmail of allEmail">
                          <th scope="row" style="border-top: none;" class="notch-settings">
                            {{allEmail.name}}
                          </th>
                          <td (click)="loadEmailById(allEmail.id)"
                            style="font-weight: bold !important; border-top: none; cursor: pointer;">
                            <i class="fas fa-edit" title="Edit"></i>
                          </td>
                          <td (click)="cloneEmail(allEmail.id)"
                            style="font-weight: bold !important; border-top: none; cursor: pointer;">
                            <i class="fas fa-clone" title="Clone"></i>
                          </td>
                          <td (click)="deleteEmailConfirm(allEmail.id)"
                            style="font-weight: bold !important; border-top: none; cursor: pointer;">
                            <i class="fas fa-trash" title="Remove"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>

              <div class="col-md-12 col-sm-12 col-lg-6 col-xl-6" *ngIf="idLoadEmail == true"
                style="padding-top: 20px; border-left: 1px solid #dee2e6">
                <form [formGroup]="changeForm">
                  <div class="modal-body">

                    <div class="form-group">
                      <label for="target-value" class="col-form-label">
                        Enter Email Template Name
                      </label>
                      <input type="text" formControlName="changeName" class="form-control" id="target-value">
                    </div>

                    <div class="form-group">
                      <input type="hidden" readonly formControlName="changeId" class="form-control" id="target-value">
                    </div>

                    <div class="form-group">
                      <label for="Description">Email FORMAT</label>
                      <br>
                      <textarea name="Description" maxlength="5000" formControlName="changeDiscription" id="Description"
                        cols="30" rows="10" class="gen-input2 h-25 pt-3" placeholder="Enter Email Format"></textarea>
                    </div>

                  </div>

                  <div class="modal-footer">
                    <button type="button" (click)="updateEmail()" [disabled]="changeForm.invalid"
                      class="fin-pry-btn right mt-4 save-email-temp">
                      save
                    </button>
                  </div>

                </form>
              </div>
            </div>

          </div>
          <!--Email template -->

          <div class="settings-label tab-pane fade" id="email-seq" role="tabpanel" aria-labelledby="email-seq-tab">
            <div class="row">

              <div class="col-lg-12 col-sm-12 d-flex email-temp-nav">
                <span class="text-center" data-toggle="modal" data-target="#ModalCenter">
                  <i class="fas fa-plus"></i> <br>
                  Add Email Sequence
                </span>
              </div>

              <!-- Add Email Sequence Modal -->
              <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="ModalCenterTitle">Add Email Sequence</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form [formGroup]="sequenceForm">
                      <div class="modal-body">

                        <div class="form-group">
                          <label for="target-value" class="col-form-label">Enter Email
                            Sequence
                            Name</label>
                          <input type="text" formControlName="sequenceName" class="form-control">
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="fin-sec-btn" data-dismiss="modal">Close
                        </button>
                        <button type="button" (click)="submitSequencing()" [disabled]="sequenceForm.invalid"
                          class="fin-pry-btn">Add</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Add Email Sequence Modal End-->
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-lg-6 col-xl-5 email-temp-left" style="padding-top: 30px;"
                id="selectable3">

                <div style="padding-top: 5px; ">
                  <div class="list-card" style="box-shadow: none; padding: 0;">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let allSequence of allSequence">
                          <th scope="row" style="border-top: none;" class="notch-settings">
                            {{allSequence.name}}
                          </th>
                          <td (click)="edit(allSequence.id)"
                            style="font-weight: bold !important; border-top: none; cursor: pointer;">
                            <i class="fas fa-edit" title="Edit"></i>
                          </td>
                          <td (click)="LoadMailSequencingByParentId(allSequence.id)"
                            style="font-weight: bold !important; border-top: none; cursor: pointer;">
                            <i class="fas fa-eye" title="View"></i>
                          </td>
                          <td (click)="cloneSequencing(allSequence.id)"
                            style="font-weight: bold !important; border-top: none; cursor: pointer;">
                            <i class="fas fa-clone" title="Clone"></i>
                          </td>
                          <td (click)="deleteSequenceConfirm(allSequence.id)"
                            style="font-weight: bold !important; border-top: none; cursor: pointer;">
                            <i class="fas fa-trash" title="Remove"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
              <div class="col-md-12 col-sm-12 col-lg-6 col-xl-6" *ngIf="idLoadSequence == true"
                style="padding-top: 20px; border-left: 1px solid #dee2e6">
                <div class="emailSeq-step" *ngFor="let mailSeq of allMailSequencebyId">
                  Step {{mailSeq.position}}
                  <div class="emailSeq-stepCard"
                    [ngClass]="{'locked': mailSeq.position == '1', 'inactive-card': mailSeq.position > '1'}">
                    <p>{{mailSeq.title}}</p>
                    <span>
                      <i *ngIf="mailSeq.position == '1'" class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="ai-blockquote" style="display: none;">
  <blockquote>
    <div class="arrow-left"></div>
  </blockquote>
</div>