  <nav class="sub-nav hide-on-med-and-down">

    <div class="contact-actions d-flex">
      <div class="user-dp">
        <img src="assets/img/leadway-logo.png" class="img-fluid" alt="">
      </div>
      <div class="contact-home-link">
        <h6>Lead Way Pensure</h6>
        <a href="https://google.com">leadway.com<span>
            <img src="assets/img/arrow-diagonal.svg" alt=""></span></a>
      </div>
      <div class="actions-btn d-flex">
        <button class="fin-sec-btn" id="dropdownMenuLink6" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          ACTIONS <span>
            <img src="assets/img/caret_down_blue.svg" width="13" alt=""></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink6">
          <a class="dropdown-item" href="#">Enrich</a>
          <a class="dropdown-item" href="#">Search in Google</a>
          <a class="dropdown-item" href="#">Merge</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ModalCenter2">Assign Target</a>
          <a class="dropdown-item" href="#">Delete</a>
        </div>
        <button class="score-btn">
          <a href="score.html">SCORE</a>
        </button>
      </div>

    </div>
  </nav>
